article {
    background-color: #000;
    background: url('/_static/backdrop.png') no-repeat bottom right;
    background-size: 75%;
}

pre {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

DIV.highlight {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
}

H1 {
    color: #00aaaa;
}

.admonition {
    padding: 0.5em 1em;
    font-size: 80%;
    line-height: 90%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
    border-radius: 2px;
    border: 1px solid hsl(80, 0%, 60%);
}

.admonition.tip {
    background: hsla(80, 100%, 60%, 0.5);
    border: 1px solid hsl(80, 100%, 60%);
}

.admonition.attention {
    background: hsla(240, 100%, 60%, 0.5);
    border: 1px solid hsl(240, 100%, 60%);
    color: black;
    line-height: 150%;
}

.sidebar + DIV {
    float: left;
}

.sidebar {
    margin-top: 40px !important;
    font-size: 60% !important;
    line-height: 1.5 !important;
    padding: 0.5em 0.8em !important;
}

Q {
    font-size: 130%;
    line-height: 1.5em;
    margin-left: 2em;
}

Q::before, Q::after {
    font-size: 150%;
}
